header {
    font-family: lobster two, sans-serif;
    
    background-color: black;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: orange;
    padding: 10px;
    }
body {
    background-color: black;
}

sidebar {
    width: 100px;
    height: 100vh;
    background-color: greenyellow;
    position: fixed;
    margin-left: 10px;
    top: 0; 
}
sidebar2 {
    width: 100px;
    height: 100vh;
    background-color: greenyellow;
    position: fixed;
    margin-left: 1400px;
    top: 0; 
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.container1 {
    font-family: "Momo Signature", cursive;
    margin: auto;
    background: white;
    width: 700px;
    height: 700px;
}

.container2 {
    font-family: "Momo Signature", cursive;
    margin: auto;
    background: white;
    width: 700px;
    height: 700px;
}
.container3 {
    font-family: "Momo Signature", cursive; 
    margin: auto;
    background: white;
    width: 700px;
    height: 700px;
}

.images img {
    width: 100%;
    height: auto;
}
.images2 img {
    width: 100%;
    height: auto;
   
}
.images3 img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
   
}
bottom {
    width: 100%;
    height: 50px;
    background-color: rgb(47, 106, 255);
    position: fixed;
    bottom: 0; 
}
